body {
    position: relative;
}

body>nav>div>a>img {
    width: 40px;
}

.carousel-item>img {
    width: 100%;
    height: auto;
    max-height: 800px;
}

.container.mt-3>h2 {
    text-align: center;
}

.card-img-top {
    height: auto;
    max-height: 30rem;
    object-fit: cover;
}

#side-menu {
    width: 160px;
    position: fixed;
    left: 0;
    top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.content {
    margin-left: 160px;
    margin-top: 66px;
}

.alert {
    margin: 70px 10px 10px 10px;
}