.header {
    text-align: right;
    margin: 10px 0px;
}

.header a {
    color: gold;
    background-color: rgb(188, 65, 225, 0.6);
    border: solid 3px rgb(188, 65, 225, 0.2);
    border-radius: 13px;
    padding: 3px 10px;
}

body {
    background: dimgray url("../images/space.jpg");
}

caption {
    color: gold;
    border: solid 3px black;
    background-color: rgb(255, 0, 0, 0.6);
    font-size: 30px;
}

table {
    border: solid 3px black;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: solid 3px black;
    border-collapse: collapse;
    color: gold;
    padding: 10px;
    text-align: left;
}

td {
    border: solid 3px black;
    border-collapse: collapse;
    color: white;
    padding: 10px;
}

.fit-to-content {
    width: 0;
}

.headers {
    background-color: rgb(255, 0, 0, 0.6);
    color: greenyellow;
}

tr:nth-child(even) {
    background-color: rgb(255, 165, 0, 0.6);
}

tr:nth-child(odd):not(:first-child) {
    background-color: rgb(173, 255, 47, 0.6);
}

tr:hover, tr:hover:nth-child(odd) {
    background-color: rgb(188, 65, 225, 0.6);
}

img {
    width: 200px;
    height: 200px;
}

a {
    color: white;
}

form {
    color: gold;
    border: solid 3px rgb(255, 0, 0, 0.2);
    border-radius: 15px;
    background-color: rgb(255, 0, 0, 0.6);
    padding: 3px 10px 3px 10px;
    margin: 10px 0;
    font-size: 20px;
}

form legend {
    font-size: 30px;
}

pre {
    display: inline;
}